<section class="information">
  <ul class="information__links">
    <li><a href="">Legal</a></li>
    <li><a href="">Centro de Privacidade</a></li>
    <li><a href="">Política de privacidade</a></li>
    <li><a href="">Cookies</a></li>
    <li><a href="">Sobre anúcios</a></li>
    <li><a href="">Acessibilidade</a></li>
    <li><a href="">Notice at Collection</a></li>
    <li><a href="">Your Privacy Choices</a></li>
    <li><a href="">Cookies</a></li>
  </ul>
  <button class="information__language">
    <span class="fa-solid fa-globe"></span>
    <span>Português do Brasil</span>
  </button>
</section>
