.information {
  background-color: var(--components-bg1);
  padding-inline-start: 35px;
  padding-block: 15px;
  border-radius: 8px;
  &__links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li a{
      color: var(--font-gray);
      font-size: .6rem;
      font-weight: 600;
      text-decoration: none;
      margin-inline-end: 10px;
      margin-block-end: 15px;
      &:hover {
        text-decoration: underline;
        color: var(--white);
      }
    }
  }
  &__language {
      background: transparent;
      display: block;
      align-items: center;
      color: var(--white);
      font-size: .8rem;
      font-weight: 600;
      border: solid 0.5px var(--white);
      border-radius: 50px;
      margin-block-start: 30px;
      padding: 8px 15px;
      .fa-globe {
        margin-inline-end: 5px;
      }
  }
}
