<div class="playlist-container">
  <div class="mobile-title">
    <h2>Ouça o que ama</h2>
    <p>Busque por artistas.</p>
  </div>

  <div class="playlist-container__title">
    <h2>Navegar por todas as seções</h2>
  </div>

  <div class="scroll-container">
    <section class="scroll-container__list">
      <a routerLink="" class="scroll-container__list--item card1">
        <img src="../../../../../assets/playlist/1.jpeg" />
        <span>Boas festas</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card2">
        <img src="../../../../../assets/playlist/2.png" />
        <span>Feitos para você</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card3">
        <img src="../../../../../assets/playlist/3.jpeg" />
        <span>Lançamentos</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card4">
        <img src="../../../../../assets/playlist/4.jpeg" />
        <span>Creators</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card5">
        <img src="../../../../../assets/playlist/5.jpeg" />
        <span>Para treinar</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card6">
        <img src="../../../../../assets/playlist/6.jpeg" />
        <span>Podcasts</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card7">
        <img src="../../../../../assets/playlist/7.jpeg" />
        <span>Sertanejo</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card8">
        <img src="../../../../../assets/playlist/8.jpeg" />
        <span>Samba e pagode</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card9">
        <img src="../../../../../assets/playlist/9.jpeg" />
        <span>Funk</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card10">
        <img src="../../../../../assets/playlist/10.jpeg" />
        <span>MPB</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card11">
        <img src="../../../../../assets/playlist/11.jpeg" />
        <span>Rock</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card12">
        <img src="../../../../../assets/playlist/12.jpeg" />
        <span>Hip Hop</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card13">
        <img src="../../../../../assets/playlist/13.jpeg" />
        <span>Indie</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card14">
        <img src="../../../../../assets/playlist/14.jpeg" />
        <span>Relax</span>
      </a>

      <a routerLink="" class="scroll-container__list--item card15">
        <img src="../../../../../assets/playlist/15.jpeg" />
        <span>Música Latina</span>
      </a>
    </section>
  </div>
</div>
