<nav class="navigation">
  <div class="navigation__logo">
      <a href="">
          <img src="../../../assets/icons/logo-spotify.png" alt="Logo do Spotify">
      </a>
  </div>
  <div class="navigation__menu">
    <ul>
        <li>
            <a href="">
                <span class="fa fa-home"></span>
                <span>Início</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="fa-solid fa-magnifying-glass"></span>
                <span>Buscar</span>
            </a>
        </li>
    </ul>
  </div>
</nav>
