.navigation {
  background-color: var(--components-bg1);
  border-radius: 8px ;
  padding: 10px 0 0 10px;
  &__logo {
    display: flex;
    border-radius: 5px;
    padding: 16px 0 0 16px;
    img {
      width: 5em;
    }
  }
  &__menu {
    ul {
      margin-top: 1.3em;
      padding: 0 20px 10px 20px;
      li {
        padding: 10px 0px;
        list-style: none;
        a {
          color: var(--font-gray);
          text-decoration: none;
          font-size: .9rem;
          font-weight: 600;
          .fa-home, .fa-magnifying-glass{
            margin-right: 5px;
          }
          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }
}
